<ion-view view-title="Fanthem">


  <ion-content>

  <img src="img/5.jpg">


    <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-person placeholder-icon"></i>
	  <input type="text" placeholder = "Handle">
	</label>
	</div>


    <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-person placeholder-icon"></i>
	  <input type="text" placeholder = "Username">
	</label>
	</div>


   <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-email placeholder-icon"></i>
	  <input type="text" placeholder = "EmailId">
	</label>
	</div>

   <div class="list list-inset">
	<label class="item item-input">
	 <i class="icon ion-ios-medical placeholder-icon"></i>
	  <input type="text" placeholder = "Passsword"> 
	</label>
	</div>

    <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-medical placeholder-icon"></i>
	  <input type="text" placeholder = "Retype Password">
	</label>
	</div>

	<div class="list list-inset">
		<button class="button button-large button-assertive">
	  SignUp
	</button>
	</div>


	<div class="list list-inset">
	<button class="button button-clear button-positive">
	  Already have an Account
	</button>
	</div>

  </ion-content>
</ion-view>