<ion-view view-title="Create An Account" align-title="left" data-page="createacc">
    <ion-content>

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Fanthem</h1>
            </div>
        </div>
        
            <div class="content">
                <div class="upload-image" daat-upload="fresh">
                    <img src="img/fresh-upload.png" alt="" />
                </div>
            </div>
        <div class="list">

            <ion-md-input placeholder="Handle" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="User Name" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Email Id" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Retype Password" highlight-color="balanced" type="text"></ion-md-input>
        </div>


        <div class="padding">
            <button ui-sref="" class="button button-full button-assertive waves-effect waves-button waves-light ink">Sign Up</button>
        </div>


        <div class="row">
          <div class="col text-center">
            <a ui-sref="login" class="fff">Already Have an Account</a>
          </div>
        </div>
   
    </ion-content>
</ion-view>
