<ion-view view-title="Fanthem">


  <ion-content>
<!--facebook icon-->
 <div class="list list-inset">
<button class="button icon ion-social-facebook"></button>
</div>

    <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-email placeholder-icon"></i>
	  <input type="text" placeholder = "EmailId or Phone number">
	</label>
	</div>

	<div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-medical placeholder-icon"></i>
	  <input type="text" placeholder = "Password">
	</label>
	</div>

	<div class="list list-inset">
		<button class="button button-large button-positive">
	  Login
	</button>
	</div>

  </ion-content>
</ion-view>