<ion-view view-title="Fanthem">
 <!--subheader-->
<div class="bar bar-subheader">
  <h1 class="title">Fanthem App Users</h1>
  </div>

  <ion-content>
    

       <div class="list list-inset">
		<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" placeholder="Search">
		</label>
		</div>

		<ul class="list">

			  <li class="item item-toggle">
			     Aravind
			     <label class="toggle toggle-assertive">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>


			   <li class="item item-toggle">
			     Trizah
			     <label class="toggle toggle-assertive">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>


			   <li class="item item-toggle">
			   helen
			     <label class="toggle toggle-assertive">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>


			   <li class="item item-toggle">
			     yuvaraj
			     <label class="toggle toggle-assertive">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>

       </ul>


		 <button class="button button-clear button-positive">
		 Done
		</button>
  

  </ion-content>
</ion-view>