<ion-view view-title="Fanthem">
 <!--subheader-->
<div class="bar bar-subheader">
  <h1 class="title">Find huddles</h1>
  </div>
  

  <ion-content>
         
        <div class="list list-inset">
         <label class="item item-input">
		  <i class="icon ion-search placeholder-icon"></i>
		  <input type="search" placeholder="Search">
		</label>
		</div>


    <div class="list list-inset">
		<button class="button button-positive">
       Search
      </button></div>


<div class="list list-inset">
      <img src="img/4.jpg"></div>
      <h3>fdhgvdufhyg</h3>
  </ion-content>
</ion-view>