<ion-view view-title="Fanthem">


  <ion-content>
    <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-person placeholder-icon"></i>
	  <input type="text" placeholder = "Username">
	</label>
	</div>

	<div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-email placeholder-icon"></i>
	  <input type="text" placeholder = "EmailId">
	</label>
	</div>

	<div class="list list-inset">
		<button class="button button-large button-assertive">
	  Submit
	</button>
	</div>

  </ion-content>
</ion-view>