<ion-view view-title="Home">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        

        <div class="item card-item" data-role="single">
            <div ui-sref="app.gallery" class="card">
                000 
            </div>
        </div>

        <div class="home-huddles">
            <div class="row">
                <div class="col col-75">1</div>
                <div class="col">
                <button class="button"><i class="icon ion-more"></i></button>
                </div>
            </div>
        </div>



        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Syed</strong> knows nothing.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        <ion-scroll zooming="true" direction="y" style="height: 100px">
                            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                            the content is from a card-body consisting of an image and paragraph text. The footer
                            consists of tabs, icons aligned left, within the card-footer.

                            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                            the content is from a card-body consisting of an image and paragraph text. The footer
                            consists of tabs, icons aligned left, within the card-footer.
                        </ion-scroll>
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <div class="pull-left">
                        <strong>Syed</strong> knows nothing.
                        <p><i class="icon ion-clock"></i> just now</p>
                    </div>
                    
                    <div class="pull-right">
                        <strong><i class="icon ion-android-more-vertical positive"></i></strong>
                    </div>                    
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
