<ion-view view-title="Home" data-page="home">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    
        


        <!-- Looping point -->
        <div class="home-huddles item card-item">
            <div class="item-body">
                <!-- huddle user and post details -->
                <div class="row">
                    <div class="col col-75">
                        <div class="huddle-user-pic">
                            <img src="img/user/user-1.jpg" />
                        </div>                    
                        <div class="huddle-user-name">
                            Phillip Peters
                            <p class="post-info">4 days ago</p>
                        </div>
                    </div>
                    <div class="col text-right">
                    <button class="button huddle-share" ng-click = "show()"><i class="icon ion-more"></i></button>
                    </div>
                </div>
                <!-- huddle image -->
                <div class="row">
                    <div class="col" data-image="huddle">
                        <img src="img/huddles/huddle-1.jpg" class="full-image" />
                    </div>
                </div>
                <!-- huddle title and contents -->
                <div class="row">
                    <div class="col" data-content="huddle">
                        <div class="huddle-title" data-title="huddle"> Li Europan lingues es membres.</div>
                        <ion-scroll zooming="true" direction="y" class="huddle-content" style="height: 100px">
                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

                            His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

                            It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when 
                        </ion-scroll>
                    </div>
                </div>
                <!-- huddle extra details -->
                <div class="row dotted-line">
                    <div class="col">
                        <button clas="huddle-likes" data-button="huddle" data-click="just"> <i class="ion-thumbsup"></i> 125</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-comments" data-button="huddle" data-click="already"> <i class="ion-chatbubbles"></i> 88</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-flag" data-button="huddle"> <i class="ion-ios-flag"></i> Flag</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-views" data-button="huddle"> <i class="ion-eye"></i> 1k</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Looping point -->
        <div class="home-huddles item card-item">
            <div class="item-body">
                <!-- huddle user and post details -->
                <div class="row">
                    <div class="col col-75">
                        <div class="huddle-user-pic">
                            <img src="img/user/user-2.jpg" />
                        </div>                    
                        <div class="huddle-user-name">
                            Janet Harper
                            <p class="post-info">4 days ago</p>
                        </div>
                    </div>
                    <div class="col text-right">
                    <button class="button huddle-share" ng-click = "show()"><i class="icon ion-more"></i></button>
                    </div>
                </div>
                <!-- huddle image -->
                <div class="row">
                    <div class="col" data-image="huddle">
                        <img src="img/huddles/huddle-2.jpg" class="full-image" />
                    </div>
                </div>
                <!-- huddle title and contents -->
                <div class="row">
                    <div class="col" data-content="huddle">
                        <div class="huddle-title" data-title="huddle"> Li Europan lingues es membres.</div>
                        <ion-scroll zooming="true" direction="y" class="huddle-content" style="height: 100px">
                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

                            His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

                            It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when 
                        </ion-scroll>
                    </div>
                </div>
                <!-- huddle extra details -->
                <div class="row dotted-line">
                    <div class="col">
                        <button clas="huddle-likes" data-button="huddle"> <i class="ion-thumbsup"></i> 1.5k</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-comments" data-button="huddle"> <i class="ion-chatbubbles"></i> 88</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-flag" data-button="huddle"> <i class="ion-ios-flag"></i> Flag</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-views" data-button="huddle"> <i class="ion-eye"></i> 458</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Looping point -->
        <div class="home-huddles item card-item">
            <div class="item-body">
                <!-- huddle user and post details -->
                <div class="row">
                    <div class="col col-75">
                        <div class="huddle-user-pic">
                            <img src="img/user/user-3.jpg" />
                        </div>                    
                        <div class="huddle-user-name">
                            Donna Bowman
                            <p class="post-info">4 days ago</p>
                        </div>
                    </div>
                    <div class="col text-right">
                    <button class="button huddle-share" ng-click = "show()"><i class="icon ion-more"></i></button>
                    </div>
                </div>
                <!-- huddle image -->
                <div class="row">
                    <div class="col" data-image="huddle">
                        <img src="img/huddles/huddle-3.jpg" class="full-image" />
                    </div>
                </div>
                <!-- huddle title and contents -->
                <div class="row">
                    <div class="col" data-content="huddle">
                        <div class="huddle-title" data-title="huddle">Li Europan lingues es membres.</div>
                        <ion-scroll zooming="true" direction="y" class="huddle-content" style="height: 100px">
                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

                            His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

                            It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when 
                        </ion-scroll>
                    </div>
                </div>
                <!-- huddle extra details -->
                <div class="row dotted-line">
                    <div class="col">
                        <button clas="huddle-likes" data-button="huddle"> <i class="ion-thumbsup"></i> 125</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-comments" data-button="huddle"> <i class="ion-chatbubbles"></i> 88</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-flag" data-button="huddle"> <i class="ion-ios-flag"></i> Flag</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-views" data-button="huddle"> <i class="ion-eye"></i> 458</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Looping point -->
        <div class="home-huddles item card-item">
            <div class="item-body">
                <!-- huddle user and post details -->
                <div class="row">
                    <div class="col col-75">
                        <div class="huddle-user-pic">
                            <img src="img/user/user-4.jpg" />
                        </div>                    
                        <div class="huddle-user-name">
                            Elizabeth Welch
                            <p class="post-info">4 days ago</p>
                        </div>
                    </div>
                    <div class="col text-right">
                        <button class="button huddle-share" ng-click = "show()"><i class="icon ion-more"></i></button>
                    </div>
                </div>
                <!-- huddle image -->
                <div class="row">
                    <div class="col" data-image="huddle">
                        <img src="img/huddles/huddle-4.jpg" class="full-image" />
                    </div>
                </div>
                <!-- huddle title and contents -->
                <div class="row">
                    <div class="col" data-content="huddle">
                        <div class="huddle-title" data-title="huddle">Li Europan lingues es membres.</div>
                        <ion-scroll zooming="true" direction="y" class="huddle-content" style="height: 100px">
                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

                            His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

                            It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when 
                        </ion-scroll>
                    </div>
                </div>
                <!-- huddle extra details -->
                <div class="row dotted-line">
                    <div class="col">
                        <button clas="huddle-likes" data-button="huddle"> <i class="ion-thumbsup"></i> 125</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-comments" data-button="huddle"> <i class="ion-chatbubbles"></i> 88</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-flag" data-button="huddle"> <i class="ion-ios-flag"></i> Flag</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-views" data-button="huddle"> <i class="ion-eye"></i> 458</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Looping point -->
        <div class="home-huddles item card-item">
            <div class="item-body">
                <!-- huddle user and post details -->
                <div class="row">
                    <div class="col col-75">
                        <div class="huddle-user-pic">
                            <img src="img/user/user-5.jpg" />
                        </div>                    
                        <div class="huddle-user-name">
                            Carol Oliver
                            <p class="post-info">4 days ago</p>
                        </div>
                    </div>
                    <div class="col text-right">
                        <button class="button huddle-share" ng-click = "show()"><i class="icon ion-more"></i></button>
                    </div>
                </div>
                <!-- huddle image -->
                <div class="row">
                    <div class="col" data-image="huddle">
                        <img src="img/huddles/huddle-5.jpg" class="full-image" />
                    </div>
                </div>
                <!-- huddle title and contents -->
                <div class="row">
                    <div class="col" data-content="huddle">
                        <div class="huddle-title" data-title="huddle">Li Europan lingues es membres.</div>
                        <ion-scroll zooming="true" direction="y" class="huddle-content" style="height: 100px">
                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

                            His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

                            It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when 
                        </ion-scroll>
                    </div>
                </div>
                <!-- huddle extra details -->
                <div class="row dotted-line">
                    <div class="col">
                        <button clas="huddle-likes" data-button="huddle"> <i class="ion-thumbsup"></i> 125</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-comments" data-button="huddle"> <i class="ion-chatbubbles"></i> 88</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-flag" data-button="huddle"> <i class="ion-ios-flag"></i> Flag</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-views" data-button="huddle"> <i class="ion-eye"></i> 458</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Looping point -->
        <div class="home-huddles item card-item">
            <div class="item-body">
                <!-- huddle user and post details -->
                <div class="row">
                    <div class="col col-75">
                        <div class="huddle-user-pic">
                            <img src="img/user/user-6.jpg" />
                        </div>                    
                        <div class="huddle-user-name">
                            Marie Herrera
                            <p class="post-info">4 days ago</p>
                        </div>
                    </div>
                    <div class="col text-right">
                        <button class="button huddle-share" ng-click = "show()"><i class="icon ion-more"></i></button>
                    </div>
                </div>
                <!-- huddle image -->
                <div class="row">
                    <div class="col" data-image="huddle">
                        <img src="img/huddles/huddle-6.jpg" class="full-image" />
                    </div>
                </div>
                <!-- huddle title and contents -->
                <div class="row">
                    <div class="col" data-content="huddle">
                        <div class="huddle-title" data-title="huddle"> Li Europan lingues es membres.</div>
                        <ion-scroll zooming="true" direction="y" class="huddle-content" style="height: 100px">
                            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

                            His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

                            It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when 
                        </ion-scroll>
                    </div>
                </div>
                <!-- huddle extra details -->
                <div class="row dotted-line">
                    <div class="col">
                        <button clas="huddle-likes" data-button="huddle"> <i class="ion-thumbsup"></i> 125</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-comments" data-button="huddle"> <i class="ion-chatbubbles"></i> 88</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-flag" data-button="huddle"> <i class="ion-ios-flag"></i> Flag</button>
                    </div>
                    <div class="col">
                        <button clas="huddle-views" data-button="huddle"> <i class="ion-eye"></i> 458</button>
                    </div>
                </div>
            </div>
        </div>





    </ion-content>
</ion-view>
