<ion-view view-title="Fanthem">

<ion-content>
		  <div class="list list-inset">
		   <button class="button ion-social-twitter button-calm">
		  Login with twitter
		  </button>
		  </div>


		<div class="list list-inset">
		  <button class="button ion-social-facebook button-positive">
		   Login with facebook
		</button>
		</div>



		<div class="list list-inset">
		<button class="button button-assertive">
		 Create Fanthem Account
		</button>
		</div>

<p>---------Already have an account--------</p>

		<div class="list list-inset">
		<button class="button button-dark">
		  Login
		</button>
		</div>

  </ion-content>
</ion-view>