<ion-view view-title="landing" align-title="left" data-page="landing">
    <ion-content>

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Fanthem</h1>
            </div>
        </div>
        



        <div class="padding">
            
            <button class="button button-twitter button-full waves-effect waves-button waves-light ink" ui-sref=""> 
                <i class="icon ion-social-twitter"></i> Log in With Twitter 
            </button>

            <button class="button button-facebook button-full waves-effect waves-button waves-light ink" ui-sref=""> 
                <i class="icon ion-social-facebook"></i> Log in With Facebook 
            </button>


            <button ui-sref="createacc" class="button button-full button-assertive waves-effect waves-button waves-light ink">Create Fanthem Account</button>

            <p class="text-center" data-account="yep">------ Already have a account ------</p>

            <button ui-sref="login" class="button button-full button-login waves-effect waves-button waves-light ink">Login</button>

        </div>

   
    </ion-content>
</ion-view>

