<ion-view view-title="Fanthem">
 <!--subheader-->
<div class="bar bar-subheader">
  <h1 class="title">My clip</h1>
  </div> 
  
  <ion-content>
    
  <div class="list list-inset">
	<label class="item item-input">   	  
	  <input type="text" >
    </label>
    </div>
  

  <div class="list list-inset">
	<label class="item item-input">   
	  
	  <input type="text" >
    </label>
    </div>
  

  <div class="list list-inset">
	<label class="item item-input">   
   <input type="text" >
    </label>
    </div>
  

  <ion-list>
  <ion-radio ng-model="choice" ng-value="'A'">Share this clip to private huddle</ion-radio>
  <ion-radio ng-model="choice" ng-value="'B'">Share this clip to public huddle</ion-radio>
   <ion-radio ng-model="choice" ng-value="'B'">New huddle</ion-radio>
</ion-list>

<div class="list list-inset">
<button class="button button-positive">
  Next
</button>
</div>

  
  </ion-content>
</ion-view>