<ion-view view-title="Notifications">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        
        <div class="list animate-fade-slide-in-right" data-list="notifications">
            
            <a class="item item-avatar waves-effect waves-button waves-dark">
                <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                <h2>Kobe Bryant</h2>
                <p>81 pts #toolongago</p>
                <div class="text-right time-tracker">
                    <i class="icon ion-clock"></i> just now
                </div>
            </a>
            
            <a class="item item-avatar waves-effect waves-button waves-dark">
                <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                <h2>Brian Scalabrine</h2>
                <p>#whitemamba</p>
                <div class="text-right time-tracker">
                    <i class="icon ion-clock"></i> just now
                </div>
            </a>

        </div>


    </ion-content>
</ion-view>
