<ion-view view-title="Notifications">
  <ion-content ng-controller="NotificationsCtrl">
   
    <div class="list">

    <a class="item item-avatar" href="#">
      <img src="../img/3.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>


  <a class="item item-avatar" href="#">
      <img src="../img/5.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

      <a class="item item-avatar" href="#">
      <img src="../img/1.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

</div>



  </ion-content>
</ion-view>