<ion-view view-title="Profile">
  <ion-content ng-controller="ProfileCtrl">
    <h1>profile</h1>

	<img src="../img/5.jpg">
	<!--inset input starts-->

   <div class="list list-inset">
	<label class="item item-input">   
	  <i class="icon ion-ios-email placeholder-icon"></i>
	  <input type="email" placeholder ="Email">
    </label>
    </div>

   <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-person placeholder-icon"></i>
	  <input type="text" placeholder = "Username">
	</label>
	</div>

  <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-medical placeholder-icon"></i>
	  <input type="password"  placeholder = "New Password">
	</label>
	</div>


<div class="list list-inset">
	<label class="item item-input">
	<i class="icon ion-ios-medical placeholder-icon"></i>
	  <input type="password" placeholder = "Confirm Password">
	</label>
</div>
<!--inset input ends-->

<button class="button button-positive">
  Update Profile
</button>


  
  </ion-content>
</ion-view>