<ion-view view-title="Fanthem">


  <ion-content>
<!--twitter icon-->
<div class="list list-inset">
<button class="button icon ion-social-twitter"></button>
</div>
   

    <div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-email placeholder-icon"></i>
	  <input type="text" placeholder = "EmailId or Password">
	</label>
	</div>

	<div class="list list-inset">
	<label class="item item-input">
	  <i class="icon ion-ios-medical placeholder-icon"></i>
	  <input type="text" placeholder = "Password">
	</label>
	</div>

	<div class="list list-inset">
		<button class="button button-large button-calm">
	Login
	</button>
	</div>

  </ion-content>
</ion-view>