/* General
==================================*/



h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/ionic.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

ion-content { 
    background:#9b0e14;
  background-image: -moz-linear-gradient( 151.7deg, rgb(159,32,43) 0%, rgb(57,68,96) 100%);
  background-image: -webkit-linear-gradient( 151.7deg, rgb(159,32,43) 0%, rgb(57,68,96) 100%);
  background-image: -ms-linear-gradient( 151.7deg, rgb(159,32,43) 0%, rgb(57,68,96) 100%); 
}

.item-md-label input { 
    border-style: solid;
  border-width: 3px;
  border-color: rgb(245, 245, 246);
  background-color: rgba(13, 14, 18, 0.11);
  opacity: 0.35;
}

.button.button-assertive { background-color:#a3111e; border-color:transparent; }


[data-page="login"] .list,
[data-page="forgotpassword"] .list,
[data-page="createacc"] .list  { margin-right:30px;}


/* Flip navigation */
[data-nav="slide"], [data-nav="slide"]:hover { background:#5b0509; }

[data-nav="slide"] ion-item { color:#fff; font-size:1.2em;}

[data-nav="slide"] ion-item .icon:before { margin-right:1.2em;  -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5); transform: scale(1.5); }

/* Notification list */
[data-list="notifications"]  {}
[data-list="notifications"] a h2 { color:#fff; font-weight:bold;}
[data-list="notifications"] p { color:#9da0b0;}
[data-list="notifications"] .time-tracker { color: rgb(245, 245, 246);}

[data-role="r-password"] label { border-color: transparent; color:#fff; text-align:center}
.fff { color: #fff; text-decoration: none}

/* Landing */
.button-twitter, .button-twitter.activated { background: #4099FF; color:#fff;}
.button-twitter:hover  { color:#fff;}
.button-facebook, .button-facebook.activated { background: #3B5998; color:#fff;}
.button-facebook:hover  { color:#fff;}
.button-twitter  i:before,
.button-facebook  i:before{ -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5); transform: scale(1.5); margin-right:10px; }
.button-login { background: #6f7179; color:#fff;}

.button-assertive.activated { background-color: #9b0d19 !important}

[data-account="yep"] { color:#fff; padding-top:20px;}


.bar-header  {  
    background-color:#b11322 !important; 
    background-image: -moz-linear-gradient( 90deg, rgb(181,20,35) 0%, rgb(91,5,9) 99%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(181,20,35) 0%, rgb(91,5,9) 99%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(181,20,35) 0%, rgb(91,5,9) 99%) !important;}


.upload-image { text-align: center;}
.upload-image img { max-width: 150px; max-height: 150px; border-radius: 50%;}
[daat-upload="fresh"] [src="img/fresh-upload.png"] { border:1px solid rgba(245, 245, 246, 0.35);}



